<div id="forgetModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <!-- Modal content-->
    <div class="modal-content" id="loginModal-container">
      <div class="modal-header">
        <h4 class="col-12 modal-title text-center">
          Forget Password
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
        </h4>
      </div>
      <div class="modal-body">
        <p>You will get a link on your registered e-mail.</p>
        <form class="form-signin">
          <div class="form-label-group">
            <input
              type="email"
              id="inputEmail"
              class="form-control"
              placeholder="Email address"
              required
              autofocus
            />
            <label for="inputEmail">Email address</label>
          </div>

          <button
            class="btn btn-lg btn-primary btn-block text-uppercase"
            type="submit"
          >
            Submit
          </button>
          <br />
        </form>
      </div>
      <!--<div class="modal-footer">

        </div>-->
    </div>
  </div>
</div>
