<!DOCTYPE html>
<html>
  <head>
    <title>SkillSwings</title>
	<link href="assets/img/logo.jpeg" rel="icon">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>	
	<link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link href="assets/css/main.css" rel="stylesheet">
  </head>
  <body>
    <header>

	  <nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <a class="navbar-brand" href="#">SkillSwings</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
			  <li class="nav-item active">
				<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#">Link</a>
			  </li>
			  <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				  Dropdown
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				  <a class="dropdown-item" href="#">Action</a>
				  <a class="dropdown-item" href="#">Another action</a>
				  <div class="dropdown-divider"></div>
				  <a class="dropdown-item" href="#">Something else here</a>
				</div>
			  </li>
			  <li class="nav-item">
				<!--<a class="nav-link disabled" href="#">Disabled</a>-->
			  </li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
			  <ul class="navbar-nav mr-auto">
				<!--<li class="nav-item">
				  <input class="form-control mr-sm-2" type="search" placeholder="Courses" aria-label="Courses">
				</li>-->
			    <li class="nav-item">
				  <a class="nav-link" href="profile.html"><i class="fa fa-user" aria-hidden="true"></i> Profile</a>
				</li>
			    <li class="nav-item">
				  <a class="nav-link"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
				</li>
			    <li class="nav-item">
				  <a class="nav-link" href="#" data-toggle="modal" data-target="#loginModal"><i class="fa fa-user" aria-hidden="true"></i> Login</a>
				</li>
			    <li class="nav-item">
				  <a class="nav-link" href="#" data-toggle="modal" data-target="#registerModal"><i class="fa fa-edit" aria-hidden="true"></i> Register</a>
				</li>
				<!--<li class="nav-item">
				  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				</li>-->
			  </ul>
			</form>
		  </div>
		</nav>
	</header>
	<div style="background-color:black; color:white;padding:10px; max-height:60vh;">
	  <div class="container">
		<div class="row">
		  <div class="col-sm-9">
			<br>
			<div style="color:blue;">
				><a href="courses.html"> COURSES</a>
			</div>
			<br>
			<div class="h2" style="margin:5px;">
			  IELTS
			</div>
			<div>
			  Check your IELTS skills here 
			</div>
			<br>
			<div>
			  <button class="btn" style="color:white;border-color:white">
				Pay and unlock
			  </button>
			</div>
		  </div>
		  <div class="col-sm-3">
			<img src="assets/img/logo.jpeg" class="img-fluid"/>
		  </div>
		</div>
	  </div>
	</div>
	<br>
  <!-- <div class="h3" style="text-align:center"> -->
	<!-- IELTS Speaking Part 1 -->
  <!-- </div> -->

<div class="">
<div class="row" style="padding-top:30px;margin:0px;">
<div class="col-md-12">
  <div class="col-sm-12">
	<div class="container" style="background-color:white;border-top:5px #6b1cb5 solid;border-radius:10px;padding-top:10px;">
	  <div class="row">
		<div class="col-sm-12" style="padding:10px 30px 30px 30px;">
		<div class="h4" style="text-align:center">
		  <b>INTRODUCTION</b>
		  <hr>
		</div>
		  <div style="font-size:19px;">
			In part 1 of the Speaking test the examiner will introduce him or herself and ask general questions on familiar topics.
			<br>
			The examiner will ask you to confirm your identity. He or she will then ask general questions on familiar topics such as home, family, work, experience, about your educational background and leisure interests.
			<br>
			<br>
			When you go into the interview room, the interviewer will greet you, exchange introductions, check your identification and then start the interview. The questions on the familier topics will give you a chance to convey a lot of information about yourself and your life, but will also alow you to relax. 
			<br>
			<br>
			It is important that you are try to give extended answers. Remember, the purpose of the questions is to get you to talk. Questions may also focus on the culture of your country (educational system, social custom, etc.) or on the aspect of your lifestyle (family, life).
			These are all very broad areas in the terms of the number of questions. That could be asked, so this is another reason why you can not prepare scientific answers. 
		</div>
		</div>
		</div>
		</div>
		<div class="container" style="background-color:white;border-top:5px #6b1cb5 solid;border-radius:10px;margin-top:30px;">
		<div class="row">
		<div class="col-sm-12" style="">
		<div style="font-size:19px;">
<br>		<div class="h4" style="text-align:center">
		  <b>HOW TO PRACTICE</b>
		  <hr>
		</div>


<ol>
<li>
You will get an AI Companion to practice interview questions. For example, you could be asked the following set of questions-
<ul>
	<li>What is your name?</li>
	<li>Where do you live?</li>
	<li>Do you have any brothers/sisters?</li>
	<li>What do you do for your living?</li>
	<li>What subjects are you studying?</li>
	<li>Why did you choose this subject?</li>
	<li>How do you use English in your studies?</li>
	<li>What is the most interesting part of your town/village?</li>
</ul>
</li>
<br>
<li>
Let's move on to talk about Accomodation..
<ul>
	<li>What type of accomodation you live in?</li>
	<li>How long have you lived there?</li>
	<li>What do you really like about living there?</li>
	<li>What sort of accomodation would you most like to live in?</li>
</ul>
</li>
<br>
<li>
Let's move on to talk about Art and Culture..
<ul>
	<li>Are there many art galleries where you live?</li>
	<li>Did you like to go to art galleries when you were a child?</li>
	<li>Should people have to pay to go to Art galleries?</li>
</ul>
</li>
</ol>

		</div>
		</div>
		</div>
		</div>
		<div class="container" style="background-color:white;border-top:5px #6b1cb5 solid;border-radius:10px;margin-top:30px;">
		<div class="row">
		<div class="col-sm-12" style="">
		<div style="font-size:19px;padding-top:20px;">
		<h2 style="text-align:center;">IELTS Speaking Part 1</h2>
		<h3 style="text-align:center">Test Series</h3>
			<br>
			<div class="row">
			<div class="col-sm-1">
			</div>
			<div class="col-sm-5" style="text-size:5px!important;">
			  Your Progress
			</div>
			<div class="col-sm-5" style="text-size:5px!important;text-align:right;">
			  10%
			</div>
			<div class="col-sm-1">
			</div>
			<div class="col-sm-1">
			</div>
			<div class="col-sm-10">
			<div id="myProgress" title="Your Progress">
			  <div id="myBar" title="Completed"></div>
			</div>
			</div>
			<div class="col-sm-1">
			</div>
			</div>

		  </div>
		  
		  <br>
		  <div id="accordion">
		  <div class="card">
			<div class="card-header" id="headingOne">
			  <div class="mb-0 row">
				<div class="col-sm-7">
				<a class="collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" href="#">
				  Test 1 - Tell something about yourself
				</a>
				</div>
				<div class="col-sm-5"style="text-align:right;">
				<i class="fa fa-check-circle" style="color:#6b1cb5;"></i>
				<i class="fa fa-user-circle-o" style="color:#6b1cb5;" aria-hidden="true"></i>
				<span style="font-size:15px;">1092 Users</span>
				<button class="btn btn-sm btn-primary">
				  Take Test
				</button>
				<a class="collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" style="text-align:right">
				&nbsp;&nbsp;
				<i class="fa fa-caret-down" aria-hidden="true"></i>
				</a>
				</div>
			  </div>
			</div>

			<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
			  <div class="card-body row">
				<div class="col-sm-6">
				  <a class="nav-link" href="#" data-toggle="modal" data-target="#questionHistory">Attempt 1</a>
				</div>
				<div class="col-sm-3">
				  <p style="text-align:right">Band Score 5.5</p>
				</div>
				<div class="col-sm-3">
				  <p style="text-align:right">Percentile 60</p>
				</div>
				<div class="col-sm-6">
				  <a class="nav-link" href="#" data-toggle="modal" data-target="#questionHistory">Attempt 2</a>
				</div>
				<div class="col-sm-3">
				  <p style="text-align:right">Band Score 5.5</p>
				</div>
				<div class="col-sm-3">
				  <p style="text-align:right">Percentile 60</p>
				</div>
				<div class="col-sm-12" >
				  <a class="nav-link" href="#" data-toggle="modal" data-target="#questionHistory">View More</a>
				</div>
			  </div>
			</div>
		  </div>
		  <div class="card">
			<div class="card-header" id="headingTwo">
			  <div class="mb-0 row">
				<div class="col-sm-9">
				<a class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseOne" href="#">
				  Test 1 - Tell something about yourself
				</a>
				</div>
				<div class="col-sm-3"style="text-align:right;">
				<span style="font-size:15px;">1092 Users</span>
				<button class="btn btn-sm btn-primary">
				  Take Test
				</button>
				<a class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseOne" style="text-align:right">
				&nbsp;&nbsp;
				<i class="fa fa-caret-down" aria-hidden="true"></i>
				</a>
				</div>
			  </div>
			</div>
			<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
			  <div class="card-body row">
				<div class="col-sm-6">
				  <a class="nav-link" href="#" data-toggle="modal" data-target="#questionHistory">Attempt 1</a>
				</div>
				<div class="col-sm-3">
				  <p style="text-align:right">Band Score 5.5</p>
				</div>
				<div class="col-sm-3">
				  <p style="text-align:right">Percentile 60</p>
				</div>
				<div class="col-sm-6">
				  <a class="nav-link" href="#" data-toggle="modal" data-target="#questionHistory">Attempt 2</a>
				</div>
				<div class="col-sm-3">
				  <p style="text-align:right">Band Score 5.5</p>
				</div>
				<div class="col-sm-3">
				  <p style="text-align:right">Percentile 60</p>
				</div>
				<div class="col-sm-12" >
				  <a class="nav-link" href="#" data-toggle="modal" data-target="#questionHistory">View More</a>
				</div>
			  </div>
			</div>
		  </div>
		  <div class="card">
			<div class="card-header" id="headingThree">
			  <div class="mb-0 row">
				<div class="col-sm-9">
				<a class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseOne" href="#">
				  Test 1 - Tell something about yourself
				</a>
				</div>
				<div class="col-sm-3"style="text-align:right;">
				<i class="fa fa-check-circle" style="color:#6b1cb5;"></i>
				<span style="font-size:15px;">1092 Users</span>
				<button class="btn btn-sm btn-primary">
				  Take Test
				</button>
				<a class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseOne" style="text-align:right">
				&nbsp;&nbsp;
				<i class="fa fa-caret-down" aria-hidden="true"></i>
				</a>
				</div>
			  </div>
			</div>
			<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
			  <div class="card-body row">
				<div class="col-sm-6">
				  <a class="nav-link" href="#" data-toggle="modal" data-target="#questionHistory">Attempt 1</a>
				</div>
				<div class="col-sm-3">
				  <p style="text-align:right">Band Score 5.5</p>
				</div>
				<div class="col-sm-3">
				  <p style="text-align:right">Percentile 60</p>
				</div>
				<div class="col-sm-6">
				  <a class="nav-link" href="#" data-toggle="modal" data-target="#questionHistory">Attempt 2</a>
				</div>
				<div class="col-sm-3">
				  <p style="text-align:right">Band Score 5.5</p>
				</div>
				<div class="col-sm-3">
				  <p style="text-align:right">Percentile 60</p>
				</div>
				<div class="col-sm-12" >
				  <a class="nav-link" href="#" data-toggle="modal" data-target="#questionHistory">View More</a>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	  <div class="row">
	    
	  </div>
	  <div class="row" style="max-height:70vh;overflow:auto;margin:0px;padding-bottom:5px;">
	  </div>
	</div>
	<br>
	  </div>
	<br>

	</div>
	</div>
	</div>
	<br>
  </body>
  	<!------------------------login modal------------------------------>
	<div id="loginModal" class="modal fade" role="dialog">
	  <div class="modal-dialog modal-dialog-centered">

		<!-- Modal content-->
		<div class="modal-content" id="loginModal-container">
		  <div class="modal-header">
			<h4 class="col-12 modal-title text-center">
			  Sign In
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</h4>
		  </div>
		  <div class="modal-body">
			<form class="form-signin" id="signin">
              <div class="form-label-group">
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                <label for="inputEmail">Email address</label>
              </div>

              <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <label for="inputPassword">Password</label>
              </div>

              <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Remember password</label>
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
			  <div class="text-center">
                <p>or </p><a href="#" data-dismiss="modal" data-toggle="modal" id="forgotPassword" data-target="#forgetModal" class="form-check-label">Forget Password</a>
              </div>              <hr class="my-4">
              <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fa fa-google mr-2"></i> Sign in with Google</button>
              <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fa fa-facebook-f mr-2"></i> Sign in with Facebook</button>
			  <br>
              <div class="text-center">
				<p>Don't have account? <a href="#" data-dismiss="modal" data-toggle="modal" id="register" data-target="#registerModal" class="form-check-label">Register Now</a>
				</p>
              </div>
			  <br>
            </form>
		  </div>
		  <!--<div class="modal-footer">
			<button class="btn btn-lg btn-primary text-uppercase" type="submit">Register</button>
		  </div>-->

		</div>

	  </div>
	</div>
	<!------------------register-------------------->
		<div id="registerModal" class="modal fade" role="dialog">
	  <div class="modal-dialog modal-dialog-centered">

		<!-- Modal content-->
		<div class="modal-content" id="loginModal-container">
		  <div class="modal-header">
			<h4 class="col-12 modal-title text-center">
			  Register
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</h4>
		  </div>
		  <div class="modal-body">
			<form class="form-signin">
              <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <label for="inputPassword">User Name</label>
              </div>

              <div class="form-label-group">
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                <label for="inputEmail">Email address</label>
              </div>

              <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <label for="inputPassword">Password</label>
              </div>

              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button>
			  <br>
            </form>
		  </div>
		  <!--<div class="modal-footer">

		  </div>-->
		</div>

	  </div>
	</div>

	<!-- forget password -->
	<div id="forgetModal" class="modal fade" role="dialog">
	  <div class="modal-dialog modal-dialog-centered">

		<!-- Modal content-->
		<div class="modal-content" id="loginModal-container">
		  <div class="modal-header">
			<h4 class="col-12 modal-title text-center">
			  Forget Password
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</h4>
		  </div>
		  <div class="modal-body">
			<p>
				You will get a link on your registered e-mail.
			</p>
			<form class="form-signin">
              <div class="form-label-group">
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                <label for="inputEmail">Email address</label>
              </div>

              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Submit</button>
			  <br>
            </form>
		  </div>
		  <!--<div class="modal-footer">

		  </div>-->
		</div>

	  </div>
	</div>
	<!-- question history -->
	<div id="questionHistory" class="modal fade bd-example-modal-lg" role="dialog">
	  <div class="modal-dialog modal-lg">

		<!-- Modal content-->
		<div class="modal-content" id="questionHistory-container">
		  <div class="modal-header">
			<h4 class="col-12 modal-title text-center">
			  Attempt-1 Result
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</h4>
		  </div>
			<br>
			<div class="modal-body row">
			<div class="col-lg-6" style="text-align:center">
				<b>Fluency & Coherence - 6.5</b>
			</div>
			<div class="col-lg-6" style="text-align:center">
				<b>Lexical Resources(Vocab) - 6.5</b>
			</div>
			<br>
			<br>
			<br>
			<div class="col-lg-6" style="text-align:center">
				<b>Grammar - 6.5</b>
			</div>
			<div class="col-lg-6" style="text-align:center">
				<b>Pronunciation - 6.5</b>
			</div>
			<br>
			<br>
			<div class="col-sm-12" style="text-align:center">
			<hr>
				<b>Over all Band - 6.5</b>
			</div>
			<br>
			<br>
			<div class="col-sm-12" style="text-align:center">
			<hr>
				<button class="btn btn-sm btn-primary">View Dashboard</button>
			</div>
		  </div>
		  <!--<div class="modal-footer">

		  </div>-->
		</div>

	  </div>
	</div>

  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/google-charts/loader.js"></script>
  <script type="text/javascript" src="assets/scripts/main.js"></script>
  <script type="text/javascript">
  </script>
</html>